@model  IEnumerable<Actividad1U2.Models.ViewModels.IndexViewModel>
@{
    Layout = "Layout";
}
<div class="slides">
    <img src="~/images/carousel1.jpg" />
</div>

<h1>Clasificación de los vertebrados</h1>

<div class="clases">
   @foreach (var t in Model)
    {
        <div>
            <a href="~/Home/Especies/@t.Nombre">
                <img src="~/clases/@(t.ID).jpg"/>
                <h1>@t.Nombre</h1>
                <p>@t.Descripcion</p>
            </a>
        </div>
    }
   
</div>
